<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog-template</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/extra.css" />
    <link href="./prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/_global.css" />
    <script>
      window.MathJax = {
        MathML: { extensions: ["mml3.js", "content-mathml.js"] },
      };
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=MML_HTMLorMML"
    ></script>
  </head>
  <body>
    <div class="blog-head">
      <div id="blog-title"></div>
      <div id="blog-time" class="blog-time"></div>
    </div>
    <hr id="hr-alt" />
    <div id="blog-body" class="blog-body"></div>
    <script>
      setInterval(function () {
        Prism.highlightAll();
      }, 3000);
    </script>
  </body>
  <script src="./prism/prism.js"></script>
</html>
