<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login.css">
    <title>Change Password</title>
  </head>
  <body>
    
    <div class="route" id="welcome"></div>
    <div id="app">
      <div class="app-view">  
        <header class="app-header">
          <h1>Password</h1>
          Welcome back,<br/>
          <span class="app-subheading">
            Enter your current password<br/>
            to change it.
            <% if (errorMessage) { %>
              <div class="error error-message"><%= errorMessage %></div>
            <% } %>
          </span>
        </header>
        <form method="POST" action="/admin-password-change" id="password-form">
            <input type="password" required placeholder="Current Password" name="current_password" id='password-current' />
            <input type="password" required placeholder="New Password" name="new_password" id='password-new' />
        </form>
        
        <a style="cursor: pointer;" class="app-button" id="submit-button">Submit</a>
      </div>
    </div>
    </div>
  </body>
  <script>
      document.getElementById("submit-button").onclick = () => {
        document.getElementById("password-form").submit();
      }
  </script>
</html>
